.sound-waves {
  height: 30px;
  left: 50%;
  margin: -30px 0 0 -20px;
  position: absolute;
  top: 50%;
  width: 40px;

  .sound-bar {
    background: #FF9AA1;
    bottom: 1px;
    height: 3px;
    position: absolute;
    width: 3px;
  }
  .sound-bar:nth-child(1)  { left: 1px; }
  .sound-bar:nth-child(2)  { left: 5px; }
  .sound-bar:nth-child(3)  { left: 9px; }
  .sound-bar:nth-child(4)  { left: 13px; }
  .sound-bar:nth-child(5)  { left: 17px; }
  .sound-bar:nth-child(6)  { left: 21px; }
  .sound-bar:nth-child(7)  { left: 25px; }
  .sound-bar:nth-child(8)  { left: 29px; }
  .sound-bar:nth-child(9)  { left: 33px; }
  .sound-bar:nth-child(10) { left: 37px; }

  &.animate {
    .sound-bar { animation: sound 0ms -800ms linear infinite alternate; }
    .sound-bar:nth-child(1)  { animation-duration: 474ms; }
    .sound-bar:nth-child(2)  { animation-duration: 433ms; }
    .sound-bar:nth-child(3)  { animation-duration: 407ms; }
    .sound-bar:nth-child(4)  { animation-duration: 458ms; }
    .sound-bar:nth-child(5)  { animation-duration: 400ms; }
    .sound-bar:nth-child(6)  { animation-duration: 427ms; }
    .sound-bar:nth-child(7)  { animation-duration: 441ms; }
    .sound-bar:nth-child(8)  { animation-duration: 419ms; }
    .sound-bar:nth-child(9)  { animation-duration: 487ms; }
    .sound-bar:nth-child(10) { animation-duration: 442ms; }
  }
}

@keyframes sound {
  0% {
    opacity: .35;
    height: 3px;
  }
  100% {
    opacity: 1;
    height: 28px;
  }
}
