@import '../../../styles/variables';

.audio-player {
  display: flex;
  align-items: center;
}

.input-range__track--background {
  background-color: $darkGrey;
}

.input-range__track--active {
  background-color: $pink;
}

.input-range__slider {
  background-color: white;
  border-color: $pink;
}

.message-info {
  width: 100%;
  text-align: center;
  margin: 30px 0;
  color: $darkGrey;
}
