.login-container {
  border-radius: 12px;
  background-color: white;
  width: 90%;
  margin-top: 70px;

  h1 {
    color: #ff9aa1;
    font-size: 25px;
  }

  .cancel-button {
    background-color: #ff9aa1;
  }

  .register-link {
    height: 36px;
  }

  .btn {
    border-radius: 6px;
    width: 100%;
  }

  //Google button
  .google-connect {
    button {
      width: 100%!important;

      span {
        padding-left: 10px!important;
      }
    }
  }
}
