.login-container {

  border-radius: 10px;
  background-color: white;
  padding-bottom: 40px;

  h1 {
    padding-top: 30px;
    color: #FF9AA1;
    font-size: 45px;
  }

  .cancel-button {
    background-color: #FF9AA1;
  }

  .register-link {
    height: 36px;
  }

}
