@import '../../../styles/variables';

.sound-waves-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  border: 2px solid $pink;
  border-radius: 100%;

  .sound-waves {
    display: flex;
    align-items: center;
    justify-content: center;

    .sound-bar {
      background: $pink;
      height: 0px;
      width: 3px;
    }

    &.animate {
      .sound-bar { animation: sound 0ms -800ms linear infinite alternate; }
      .sound-bar:nth-child(1)  { animation-duration: 474ms; }
      .sound-bar:nth-child(2)  { animation-duration: 433ms; }
      .sound-bar:nth-child(3)  { animation-duration: 407ms; }
      .sound-bar:nth-child(4)  { animation-duration: 458ms; }
      .sound-bar:nth-child(5)  { animation-duration: 400ms; }
      .sound-bar:nth-child(6)  { animation-duration: 427ms; }
      .sound-bar:nth-child(7)  { animation-duration: 441ms; }
      .sound-bar:nth-child(8)  { animation-duration: 419ms; }
      .sound-bar:nth-child(9)  { animation-duration: 487ms; }
      .sound-bar:nth-child(10) { animation-duration: 442ms; }
    }
  }

  @keyframes sound {
    0% {
      opacity: .35;
      height: 3px;
    }
    100% {
      opacity: 1;
      height: 28px;
    }
  }
}
