.genre-item {
  cursor: pointer;
  border-radius: 10px;
  height: 100px;
  width: 100%;
  margin: 50px 0;
  position: relative;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  p {
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin: auto;
  }
}
