.register-container {
  border-radius: 12px;
  background-color: white;
  width: 90%;
  margin-top: 70px;

  h1 {
    color: #ff9aa1;
    font-size: 25px;
  }

  .cancel-button {
    background-color: #FF9AA1;
  }



}
